.codepro-noti-box {
    bottom: 16px;
    right: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(179.83deg, rgb(9 207 228) 0.15%, rgb(73 116 238) 92.02%);
    height: 40px;
    width: 40px;
    z-index: 100;
    border-radius: 100%;
    animation: codepro-noti 2s 0s ease-out infinite
}

.codepro-noti-box i {
    font-size: 20px;
    margin: 0;
    color: #fff
}

.codepro-noti-box svg {
    fill: #fff
}

@keyframes codepro-noti {
    0% {
        box-shadow: 0 0 0 0 rgba(109, 181, 27, 0.5)
    }
    75% {
        box-shadow: 0 0 0 16px rgba(109, 181, 27, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(109, 181, 27, 0)
    }
}
